

#transactions {
  ul {
    list-style: none;
    padding: 0;
  }

  ul > li {
    padding: 15px 0;
    border-bottom: 1px solid lightgrey;
  }

  li > * {
    display: inline-block;
    vertical-align: middle;
  }

  .fa.fa-bitcoin {
    font-size: 2em;
    color: lightgrey;
    text-shadow: 1px 1px 1px #333;
    margin-right: 15px;
  }

  .green {
    color: limegreen;
  }

  .blue {
    color: deepskyblue;
  }

  .timestamp {
    float: right;
    color: gray;
    font-size: small;
    vertical-align: top;
    padding-right: 20px;
  }

  .pending {
    text-transform: uppercase;
    color: gray;
  }

  .update__btn {
    @extend .hivebtn;

    &.is_updating {
      color: darken(#b9b9bd, 20%);
      background-color: #b9b9bd;
      box-shadow: 0 3px 0 0 darken(#b9b9bd, 20%);

      &:active {
        box-shadow: 0 3px 0 0 darken(#b9b9bd, 20%);
        transform: translate(0px, 0px);
      }
    }
  }
}
