
#tabs {
  margin-bottom: 20px;
  background-color: $purple--light;
}

#tabs .tabs {
  display: flex;
  justify-content: space-between;
}

#tabs .tabs .tab {
  @include clickbtn;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;

  text-align: center;

  color: white;

  @include breakpoint(portrait) {
    text-align: center;
    padding-left: 0;
  }

  &:hover {
    .tab__icon, .tab__text {
      opacity: 0.4;
    }
  }

  &.active {
      border-bottom: 4px solid $purple--highlight;
    .tab__icon, .tab__text {
      opacity: 1.0;
    }
  }
}

#tabs .tabs .tab__icon {
  display: block;
  margin-top: 5px;
  font-size: 20px;
  opacity: 0.3;
}

.tab__text {
  display: block;
  font-weight: $light;
  font-size: 14px;
  opacity: 0.3;
}


.hide--portrait {
  display: inline-block;
  padding-left: 10px;
  font-family: $sans;
  @include breakpoint(portrait) {
    display: none;
  }
}