node_modules
npm-debug.log
bundle.*
build/
.DS_Store

cordova/www/
cordova/platforms/ios/www/
cordova/platforms/ios/cordova/console.log
cordova/platforms/ios/Hive.xcodeproj/project.xcworkspace/xcuserdata/
