@import 'hive-menu';
@import 'hive-profile';
@import 'hive-apps';
@import 'hive-landing';

* {
  box-sizing: border-box;
}

body >.container {
  width: 100%;
  height: 100%;
  position: fixed;
}

#sidebar,
#main {
  float: left;
  position: relative;
  height: 100%;
}

#sidebar {
  background: url(../images/bg-sidebar.png);
  width: 12%;
}

#main {
  width: 88%;
  overflow-x: hidden;
}

div.content {
  width: 100%;
  height: 100%;
  background: rgb(240, 240, 240);
  padding: 30px;
  position: absolute;
  left: -100%;
}

#landing {
  left: 0;
}

div.content:target {
  -webkit-animation: slide 0.2s forwards;
  animation: slide 0.2s forwards;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

/* shared */

hr {
  height: 1px;
  border: 1px solid lightgrey;
  color: transparent;
  background: transparent;
}

.row {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
