@import 'hive-menu';
@import 'hive-send-dialog';
@import 'hive-landing-dialog';
@import 'hive-profile';
@import 'hive-apps';
@import 'hive-transactions';

* {
  box-sizing: border-box;
}

body >.container {
  width: 100%;
  height: 100%;
  position: fixed;
}

#sidebar,
#main {
  float: left;
  position: relative;
  height: 100%;
}

#sidebar {
  background: url(../images/bg-sidebar.png);
  width: 12%;
}

#main {
  width: 88%;
  overflow-x: hidden;
}

div.content {
  width: 100%;
  height: 100%;
  background: rgb(240, 240, 240);
  padding: 30px;
  position: absolute;
  left: -100%;
}

div.content:target {
  -webkit-animation: slide 0.2s forwards;
  animation: slide 0.2s forwards;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

/* shared */

b {
  font-weight: bold;
}

hr {
  height: 1px;
  border: 1px solid lightgrey;
  color: transparent;
  background: transparent;
}

/* modal */

.modal {
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal-dialog {
  width: 50%;
  margin: 30px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  z-index: 1000;
}

/* report bug ribbon */

#forkongithub a {
    background: #9a0000;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
    box-sizing: initial;
}

#forkongithub a:hover {
    background: #060;
    color: #fff;
}

#forkongithub a::before,#forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#forkongithub a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (min-width:400px) {
    #forkongithub {
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
    }

    #forkongithub a {
        width: 200px;
        position: absolute;
        bottom: 60px;
        right: -60px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
    }
}

