

.header__toggle {
  @include clickbtn;
  width: 40px;
  padding-top: 5px;
  font-size: 24px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  @include breakpoint(portrait) {
    display: none;
  }
}