
#header {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  background-color: $purple;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header__balance {
  font-size: 32px;
  font-weight: $light;
}

.icon_atom {
  @include clickbtn;
  width: 40px;
  padding-top: 12px;
  font-size: 19px;
  text-align: center;
  margin-bottom: 5px;
}

.header__toggle {
  @extend .icon_atom;
  margin-left: 10px; 
}

.header__refresh {
  @extend .icon_atom;
  margin-right: 10px; 
  &.is_updating {

  }
}
