
#header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 10px;
}

.header__toggle {
  @include clickbtn;
  width: 40px;
  padding-top: 5px;
  font-size: 24px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  @include breakpoint(portrait) {
    display: none;
  }
}

.header__balance {
  font-size: 32px;
  color: black;
  font-weight: $light;
}

.header__refresh {
  @extend .hivebtn;
  margin-top: 6px;
  width: 30px;
  height: 30px;
  padding: 0;

  &.is_updating {
    color: darken(#b9b9bd, 20%);
    background-color: #b9b9bd;
    box-shadow: 0 3px 0 0 darken(#b9b9bd, 20%);

    &:hover {
      color: darken(#b9b9bd, 20%);
    }

    &:active {
      box-shadow: 0 3px 0 0 darken(#b9b9bd, 20%);
      transform: translate(0px, 0px);
    }
  }
}