
#header {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  background-color: $purple;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header__balance {
  font-weight: $light;
  display: flex;

  ._amount {
    font-size: 32px;
  }
  ._currency {
    font-size: 14px;
    padding-top: 6px;
    margin-left: 3px;
  }
}

.icon_atom {
  @include clickbtn;
  width: 40px;
  padding-top: 12px;
  font-size: 19px;
  text-align: center;
  margin-bottom: 5px;
}

.header__toggle {
  @extend .icon_atom;
  margin-left: 10px;
}

.toggle_overlay {
  cursor: pointer;
  position: absolute;
  z-index: 9000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__refresh {
  @extend .icon_atom;
  width: 50px;
  padding-right: 10px;
  margin-top: 2px;
  ._icon {
    @include icon(20px, 20px, block);
    background-image: url('/assets/img/refresh.svg');
    margin: 0 auto;
  }

  &.is_updating {
    ._icon {
      animation:  infinite-spinning 1s linear infinite;
    }
  }
}
