.support {
  padding: 20px;

  ._info {
    position: relative;
    @extend .jigsaw-medium;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid $grey;
  }

  ._icon {
    @include clickbtn;
    display: block;
    position: absolute;
    right: -6px;
    top: -2px;
    width: 28px;
    height: 28px;
    padding: 4px;
  }

  .svg-close {
    fill: $grey;
  }
}

.support__field {

  margin-top: 20px;

  ._label {
    @include noselect;
    cursor: pointer;
    display: block;
  }
  ._input, ._textarea {
    @extend .generic_box;
    @extend .jigsaw-light;
    margin-top: 5px;
    padding-left: 10px;
    border-radius: 2px;

    height: auto;

    &:active, &:focus {
      outline: 0;
      border: 1px solid $blue;
    }
  }
}

.support__close {
  @include clickbtn;
  margin-top: 20px;
  text-align: center;
  padding: 8px;
  color: $grey;
}
