#auth {
  display: none;
  &.current {
    display: flex;
  }
}

.auth__modal {
  background-color: #e7e7e6;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  padding-top: 20px;
  padding-bottom: 20px; 
}

.auth {
  max-width: 400px;
  position: relative;
}

// component header ---------------------------------------- //

.auth__info {
  @include clickbtn;
  position: absolute;
  top: 15px; 
  right: 15px;
  font-size: 20px;
  color: #949494;
}

.auth__header {
  text-align: center;
  padding-bottom: 10px;

  ._img {
    width: 100px;
    margin: 0 auto;
    display: block;
  }

  ._title {
    font-size: 42px;
    line-height: 1.4; 
    font-weight: $bold;
    color: $dark-blue;
  }
}


// buttons ---------------------------------------- //


.auth__btngroup {
  max-width: 280px;
  margin: 0 auto;
  padding: 20px;
}

.auth__btn {
  @extend .hivebtn;
  margin-bottom: 20px;
}

.auth__btn--existing {
  @extend .hivebtn;

  color: darken($yellow, 20%);
  background-color: $yellow;
  box-shadow: 0 3px 0 0 darken($yellow, 20%);
}

// inputs ---------------------------------------- //

.auth__passphrase {
  padding-bottom: 20px;
  label {
    @include clickbtn;
  }
}

.auth__pin {
  padding-bottom: 20px;
  label {
    @include clickbtn;
  }
}



// text nodes ---------------------------------------- //

.auth__progress {
  padding-top: 20px;
  text-align: center;
}

.auth__altmsg {
  text-align: center;
  padding-top: 20px;
  
  ._link {
    color: $blue;
    @include clickbtn;

    &:hover {
      text-decoration: underline;
    }
  }
}
