

#settings {
  padding-bottom: 130px;
  padding-right: 15%;
  flex-grow: 1;
}

.settings__avatar {
  @include icon(120px, 120px, block);
  width: 109px;
  -webkit-mask-image: url(../img/hex-large.svg);
  margin: 0 auto;
  margin-bottom: 10px;
}

.settings__name {
  text-align: center;
  font-size: 24px;
}

.settings__editBtn {
  display: block;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  color: white;
  opacity: 0.4;

  &:hover {
    text-decoration: underline;

  }
}

.settings__toggle {
  @include clickbtn;
  display: flex;
  padding: 20px;
  padding-bottom: 16px;
  background-color: $purple--light;
  border-bottom: 1px solid darken($purple--light, 5%);

  ._title {
    margin-left: 10px;
    padding-top: 6px;
  }

  ._state {
    flex-grow: 1;
    @include clear;

    ._icon {
      width: 20px;
      height: 20px;
      display: block;
      margin-top: 5px;
      opacity: 0.1;
      float: right;
    }
  }
}

.litecoin {
  .settings__toggle {
    background-color: darken($silver, 20%);
    border-bottom: 1px solid darken($silver, 25%);
  }
}

.settings__toggle-icon {
  width: 26px;
  height: 26px;
  display: block;
  margin-top: 4px;
  opacity: 0.1;
}


#user_settings {
  ._content {
    min-height: 280px;
  }
}

#details-preview {
  padding-top: 20px;
}


.settings__group {
  overflow: hidden;
  background-color: darken($purple--light, 5%);

  ._content {
    padding-top: 20px;
    padding-right: 23px;
    padding-left: 20px;
    padding-bottom: 30px;
    transform: translateY(-100%);
  }
}

.litecoin {
  .settings__group {
    background-color: darken($silver, 25%);
  }
}

.settings__btn {
  @extend .hivebtn;
  margin-top: 20px;
}

.settings__input-group {
  position: relative;

  & + .settings__input-group {
    padding-top: 10px;
  }

  ._label {
    @include noselect;
    cursor: pointer;
    display: block;
  }

  ._input {
    @extend .jigsaw-light;
    background-color: darken($purple--light, 10%);
    border: 1px solid $purple;
    color: white;
    margin-top: 5px;
    height: 50px;
    padding-left: 10px;
    border-radius: 3px;

    &:active, &:focus {
      outline: 0;
      border: 1px solid $purple--highlight;
    }
  }

  ._help {
    @include clickbtn;
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 12px;
    text-align: center;
    color: white;
    border: 1px solid white;
    opacity: .25;
    width: 18px;
    height: 18px;
    border-radius: 9px;

    &:hover {
      opacity: 1;
    }
  }
}

.litecoin {
  .settings__input-group {

    ._input {
      background-color: darken($silver, 30%);
      border: 1px solid $silver;
    }
  }
}

.tokens {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.token__item {
  @include clickbtn;
  width: 45%;
  text-align: center;
  opacity: 0.8;

  ._icon {
    margin-bottom: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: inline-block;

    &.i-bitcoin-token {
      background-color: #F7931A;
    }
    &.i-litecoin-token {
      background-color: #C4C4C4;
    }
  }
  ._title {
    font-size: 18px;
  }

  &.current {
    opacity: 1;
    ._icon {
      border: 5px solid $purple--highlight;
    }
  }

  &:hover {
    opacity: 1;
  }
}
