

#settings {
  padding-bottom: 82px;
  padding-right: 15%;
}

.settings__avatar {
  @include icon(120px, 120px, block);
  -webkit-mask-image: url(../img/hex_large.png);
  margin: 0 auto;
  padding-bottom: 20px;
}

.settings__name {
  text-align: center;
  font-size: 24px;
}

.settings__editBtn {
  display: block;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  color: white;
  opacity: 0.4;

  &:hover {
    text-decoration: underline;

  }
}

.settings__toggle {
  @include clickbtn;
  display: flex;
  padding: 20px;
  padding-bottom: 16px;
  background-color: $purple--light;
  border-bottom: 1px solid darken($purple--light, 5%);

  ._icon {
    font-size: 20px;
    opacity: 0.1;
  }

  ._title {
    margin-left: 10px;
    padding-top: 2px;
  }

  ._arrow {
    flex-grow: 1;
    padding-top: 4px;
    text-align: right;
    opacity: 0.1;
  }
}

#user_settings {
  ._content {
    min-height: 280px;
  }
}

#details-preview {
  padding-top: 20px;
}


.settings__group {
  overflow: hidden;
  background-color: darken($purple--light, 5%);
  &.open {

  }

  ._content {
    padding: 20px;
    padding-bottom: 30px;
    transform: translateY(-100%);
  }
}

.settings__btn {
  @extend .hivebtn;
  margin-top: 20px;
}

.settings__input-group {

  & + .settings__input-group {
    padding-top: 10px;
  }

  ._label {
    @include noselect;
    cursor: pointer;
    display: block;
  }

  ._input {
    background-color: darken($purple--light, 10%);
    border: 1px solid $purple;
    font-weight: $light;
    font-family: 'jigsaw', sans-serif;
    color: white;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-radius: 3px;

    &:active, &:focus {
      outline: 0;
      border: 1px solid $purple--highlight;
    }
  }
}
