

.send {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: $background;

  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

}

.send__content {

  padding: 20px;
  padding-top: 60px;
  max-width: 400px;
  margin: 0 auto;
}

.send__form {
  input {
    margin-bottom: 20px;
  }
}

.send__header {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}

.send__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 34px;
  height: 34px;
  border: 1px solid #dcdbe1;
  border-radius: 5px;

  text-align: center;
  padding-top: 5px;
}


.send__address--text {
  @include noselect;
  display: block;
  font-size: 13px;
  text-align: center;
  color: #9a9ba3;
  padding-bottom: 20px;

}

.hidden_element {
  opacity: 0 !important;
  visibility: hidden !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.send__buttons {
  display: flex;
}

.send__btn {
  @extend .hivebtn;
  margin-right: 10px;
}

.cancel__btn {
  @extend .hivebtn;
  margin-left: 10px;

  color: darken($silver, 20%);
  background-color: $silver;
  box-shadow: 0 3px 0 0 darken($silver, 20%);
}

.half__btn {
  width: 33%;
  display: inline-block;
  margin-top: 20px;
}

