

.send {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: $background;

  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  padding-bottom: 50px;
}

.send__header {
}

.send__btn {
  @extend .hivebtn;
}

.cancel__btn {
  @extend .hivebtn;

  color: darken($silver, 20%);
  background-color: $silver;
  box-shadow: 0 3px 0 0 darken($silver, 20%);
}

.half__btn {
  width: 33%;
  display: inline-block;
  margin-top: 20px;
}

