
.flash {
  cursor: default;
  position: absolute;
  margin-bottom: 30px;
  top: 0;
  left: 50%;
  margin-left: -150px;
  width: 300px;

  background-color: $background;
  box-shadow: 0 2px 2px 1px rgba(000,000,000,0.2);

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.flash__content {
  text-align: center;
  padding-bottom: 40px;
  margin: 0 auto;
}

.flash__header {
  @include clickbtn;
  position: relative;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.flash__icon {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.flash__title {
  @extend .jigsaw-bold;
  font-size: 24px;
  padding-bottom: 10px;

  &.error {
    color: $red;
  }

  &.info {
    color: $yellow;
  }
}

.flash__message {
  color: #a8a7a9;
  font-size: 18px;
  max-width: 200px;
  margin: 0 auto;
}

.flash__cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 5px;
  z-index: 1000;

  .svg-close {
    fill: $grey;
  }
}
