@document wrap(#send-dialog) {
  .modal-open {
    width: 12%;
    position: absolute;
    bottom: 0;
    font-size: 0.8em;
    height: 40px;
  }

  .modal {
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }

  .modal-dialog {
    width: 50%;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    z-index: 1000;
  }

  fieldset {
    margin: 15px 0;
  }
}
