
// structural style for the app

#app {
  display: none;
  width: 100%;
  min-height: 100%;

  &.open {
    display: flex;
  }
}

#menu_btn {
  @include clickbtn;
  width: 50px;
  height: 50px;
  background-color: grey;
  margin-bottom: 10px;
  @include breakpoint(portrait) {
    display: none;
  }
}

#menu {
  display: block;
  background-color: #3e3c43;
  min-height: 100%;
  flex: 1; // take up full width
  margin-right: 20%;

  transition: transform .3s ease;

  @include breakpoint(portrait) {
    margin-right: 0;
    flex: none;
    width: 80px;
    transition: none;
  }
  
  &.closed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transform: translateX(-100%);

    @include breakpoint(portrait) {
      position: static;
      transform: none;
      overflow-y: auto;
    }
  }

  &.is_opening {
    transform: translateX(0);

    @include breakpoint(portrait) {
      transform: none;
    }
  }

  &.is_about_to_close {
    transform: translateX(-100%);

    @include breakpoint(portrait) {
      transform: none;
    }
  }
}

#main {  
  overflow-x: hidden;
  position: relative;
  padding: 10px;
  background-color: $background;
  flex: 1; // take up full width

  transition: transform .3s ease;
  
  @include breakpoint(portrait) {
    transition: none;
  }
  
  &.hidden {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(80%);
    overflow: hidden;

    @include breakpoint(portrait) {
      position: static;
      transform: none;
      overflow-y: auto;
    }
  }

  &.is_about_to_open {
    transform: translateX(0);

    @include breakpoint(portrait) {
      transform: none;
    }
  }

  &.is_opening {
    transform: translateX(80%);

    @include breakpoint(portrait) {
      transform: none;
    }
  }

  &.is_closing {
    transform: translateX(0);

    @include breakpoint(portrait) {
      transform: none;
    }
  }

  .content {
    display: none;
    &.current {
      display: block;
    }
  }
}

