
// main btn style

.hivebtn {
  @include clickbtn;
  display: block;
  width: 100%;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 18px;
  padding-bottom: 15px;
  border-radius: 2px;

  color: white;
  text-align: center;
  font-size: 18px;
  background-color: $blue;
  box-shadow: 0 2px 0 0 darken($blue, 10%);

  transition: none;
  position: relative;

  &:active {
    transform: translate(0px, 3px);
    box-shadow: 0 0px 0 0;
  }

  &:hover {
    color: white;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}


.hivebtn--red {
  @extend .hivebtn;

  background-color: #da553e;
  box-shadow: 0 3px 0 0 darken(#da553e, 10%);
}

.hivebtn--yellow {
  @extend .hivebtn;

  background-color: $yellow;
  box-shadow: 0 3px 0 0 darken($yellow, 10%);
}



.generic_box {
  border: 1px solid $grey;
  background-color: $grey--light;
  border-radius: 3px;
  padding: 10px 10px;
}

.hexagon {
  width: 55px;
  height: 32px;
  background: $purple;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  border-bottom: 16px solid $purple;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  border-top: 16px solid $purple;
}

.oval {
  width: 100px;
  height: 50px;
  background: darken($blue, 10%);
  border-radius: 50px / 25px;
}

.overlay {
  display: none;
  opacity: 0;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: $background;

  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

// inside overlay
.modal {
  @include clickbtn;
  display: flex;
  min-height: 100%;
  align-items: center;
  padding: 20px;
}

.modal__content {
  cursor: default;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: $background;
  box-shadow: 0 2px 2px 1px rgba(000,000,000,0.2);

  padding:40px;
}

.modal__cancel {
  @include clickbtn;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 45px;
  height: 45px;
  padding: 10px;
  z-index: 1000;

  .svg-close {
    fill: $grey;
  }
}


// hacky fix for overlay ordering...

.z-1000 {
  z-index: 1000;
  * {
    z-index: 9000;
  }
}

.z-9000 {
  z-index: 9000;
  * {
    z-index: 9000;
  }
}
