


// Font imports go here
// ------------------------------------------------------------------------------------


// @font-face {
//   font-family: 'Publico Text Web';
//   src: url('../fonts/PublicoText-Roman-Web.eot');
//   src: url('../fonts/PublicoText-Roman-Web.eot?#iefix') format('embedded-opentype'),
//      url('../fonts/PublicoText-Roman-Web.woff') format('woff'),
//      url('../fonts/PublicoText-Roman-Web.ttf') format('truetype'),
//      url('../fonts/PublicoText-Roman-Web.svg#Publico Text Web') format('svg');
//   font-weight:  400;
//   font-style:   normal;
//   font-stretch: normal;
// }

@font-face {
  font-family: 'Jigsaw';
  src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000029-1402973418.eot");
  src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000029-1402973418.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000029-1402973418.woff") format("woff"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000029-1402973418.svg#typotheque_webfonts_service") format("svg");
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: 'Jigsaw';
  src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000031-1402973418.eot");
  src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000031-1402973418.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000031-1402973418.woff") format("woff"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000031-1402973418.svg#typotheque_webfonts_service") format("svg");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'Jigsaw';
  src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000033-1402973418.eot");
  src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000033-1402973418.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000033-1402973418.woff") format("woff"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000033-1402973418.svg#typotheque_webfonts_service") format("svg");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'Jigsaw';
  src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000035-1402973419.eot");
  src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000035-1402973419.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000035-1402973419.woff") format("woff"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225-000035-1402973419.svg#typotheque_webfonts_service") format("svg");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
 }