* {
  box-sizing: border-box;
}

body >.container {
  width: 600px;
  margin: 0 auto;
}

#sidebar,
#main {
  float: left;
  position: relative;
  min-height: 1000px;
}

#sidebar {
  background: grey;
  width: 12%;
  padding: 10px;
}

#main {
  width: 88%;
  overflow-x: hidden;
}

.tabs .tab a{
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.content {
  width: 100%;
  height: 100%;
  padding: 30px;
  position: absolute;
  left: -100%;
}

div.content:target {
  -webkit-animation: slide 0.2s forwards;
  animation: slide 0.2s forwards;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

