#send {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.send__address {

  display: flex;
  margin-bottom: 20px;

  ._label {
    @include noselect;
    cursor: pointer;
    display: block;
    flex: 1;
    margin-right: 10px;
  }
  ._btn {
    @extend .hivebtn;
    margin-top: 29px;
    padding: 0;

    background-image: url('../img/pin_temp.png');
    @include icon(42px, 42px, block);
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }

  ._input {
    @extend .generic_box;
    font-weight: $light;
    font-family: 'jigsaw', sans-serif;
    margin-top: 5px;
    padding-left: 10px;
    border-radius: 2px;

    height: auto;

    &:active, &:focus {
      outline: 0;
      border: 1px solid $blue;
    }
  }
}

.send__amount {

  position: relative;

  ._label {
    @include noselect;
    cursor: pointer;
    display: block;
  }

  ._currency {
    @include noselect;
    position: absolute;
    z-index: 500;
    cursor: pointer;
    display: block;
    text-align: right;
    font-size: 18px;
    font-weight: $light;
    right: 10px;
    top: 9px;
    color: $grey;
  }

  ._input {
    @extend .generic_box;
    font-weight: $light;
    font-family: 'jigsaw', sans-serif;
    padding-left: 10px;
    height: auto;
    margin: 0;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    position: relative;
    z-index: 200;

    &:active, &:focus {
      outline: 0;
      border: 1px solid $blue;
    }
  }
}


._input-group {
  position: relative;
  margin-top: 5px;

  & + ._input-group {
    margin-top: 0;
    ._input {
      margin-top: -1px;
      border-radius: 2px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      z-index: 100;
      &:focus {
        z-index: 300;
      }
    }
  }
}

.send__buttons {
  margin-top: 20px;
}

.send__btn {
  @extend .hivebtn;
}
