#send {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.send__address {

  display: flex;
  margin-bottom: 20px;

  ._label {
    @include noselect;
    cursor: pointer;
    display: block;
    flex: 1;
    margin-right: 10px;
  }
  ._btn {
    @extend .hivebtn;
    margin-top: 29px;
    padding: 0;
    width: 42px;
    height: 42px;
    position: relative;

    ._icon {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
    }

    &.qr {
      margin-right: 10px;
    }
  }

  ._input {
    @extend .generic_box;
    @extend .jigsaw-light;
    margin-top: 5px;
    padding-left: 10px;
    border-radius: 2px;

    height: auto;

    &:active, &:focus {
      outline: 0;
      border: 1px solid $blue;
    }
  }
}

.send__amount {

  position: relative;

  ._label {
    @include noselect;
    cursor: pointer;
    display: block;
  }

  ._currency {
    @include noselect;
    @extend .jigsaw-light;
    position: absolute;
    z-index: 500;
    cursor: pointer;
    display: block;
    text-align: right;
    font-size: 18px;
    right: 10px;
    top: 9px;
    opacity: 0.4;

    select {
      @extend .jigsaw-light;
      border: none;
      background-color: none;

      &:focus {
        outline: none;
      }
    }

    &.dropdown {
      top: 7px;
      right: 3px;
    }
  }

  ._input {
    @extend .generic_box;
    @extend .jigsaw-light;
    padding-left: 10px;
    height: auto;
    margin: 0;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    position: relative;
    z-index: 200;

    &:active, &:focus {
      outline: 0;
      border: 1px solid $blue;
    }
  }
}


._input-group {
  position: relative;
  margin-top: 5px;

  & + ._input-group {
    margin-top: 0;
    ._input {
      margin-top: -1px;
      border-radius: 2px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      z-index: 100;
      &:focus {
        z-index: 300;
      }
    }
  }
}

.send__buttons {
  margin-top: 20px;
}

.send__btn {
  @extend .hivebtn;
}

.send__btn--validating {
  @extend .hivebtn;
  position: relative;
  margin-left: 5px;
  color: darken($grey, 20%);
  background-color: $grey;
  transform: translate(0px, 3px);
  box-shadow: 0 0px 0 0;
  &:hover {
    color: darken($grey, 20%);
  }
  ._icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    display: inline;
    animation:  infinite-spinning 1s linear infinite;
    .svg-refresh {
      fill: darken($grey, 20%);
    }
  }
}
