@document wrap(#sidebar) {
  .tabs .tab {
    text-align: center;
    display: block;
  }

  .tabs .tab.active {
    background-image: url(../images/button_inset.png);
    background-size: cover;
  }

  .tabs .tab__icon {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
  }

  .img-profile {
    background-image: url(../images/icon-profile-inactive.png);
  }

  .tab:hover .img-profile,
  .tab.active .img-profile {
    background-image: url(../images/icon-profile-active.png);
  }

  .img-apps {
    background-image: url(../images/icon-apps-inactive.png);
  }

  .tab:hover .img-apps,
  .tab.active .img-apps {
    background-image: url(../images/icon-apps-active.png);
  }

  .img-contacts {
    background-image: url(../images/icon-contacts-inactive.png);
  }

  .tab:hover .img-contacts,
  .tab.active .img-contacts {
    background-image: url(../images/icon-contacts-active.png);
  }

  .img-transactions {
    background-image: url(../images/icon-timeline-inactive.png);
  }

  .tab:hover .img-transactions,
  .tab.active .img-transactions {
    background-image: url(../images/icon-timeline-active.png);
  }
}
