

#history {
  padding-left: 10px;
  padding-right: 10px;

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }
}

.transactions {
 ._title {
  padding-top: 5px;
  padding-bottom: 5px;
 }
}

.transactions__item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid darken($grey--light, 10%);

  ._avatar {

  }

  ._address {
    margin-left: 10px;
    padding-top: 27px;
    font-size: 23px;
    font-weight: $light;
  }

  ._expandBtn {
    @include clickbtn;
    font-size: 16px;
    opacity: 0.4;
  }

  ._detail {
    text-align: right;
    padding-top: 19px;
    flex-grow: 1;
  }

  ._amount {
    font-size: 32px;
    font-weight: $light;
  }

  ._currency {
    font-size: 14px;
  }

  ._time {
    display: block;
    font-size: 14px;
    margin-top: -5px;
    color: $grey;
  }

}
