

#history {
  padding-left: 20px;
  padding-right: 20px;

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }
}

.transactions {
 ._title {
  padding-top: 5px;
  padding-bottom: 5px;
 }
}

.transactions__item {
  @include clear;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid darken($grey--light, 10%);

  ._avatar {
    @include icon(55px, 55px, block, '/assets/img/avatar_1.png');
    margin-top: 10px;
    width: 55px;
    float: left;
    margin-right: 10px;
  }

  ._address {
    @include ellipsis();
    @include media-obj;
    @extend .jigsaw-light;
    margin-left: 10px;
    padding-top: 23px;
    font-size: 21px;
  }

  ._expandBtn {
    @include clickbtn;
    font-size: 16px;
    opacity: 0.4;
  }

  ._detail {
    float: right;
    text-align: right;
    padding-top: 24px;
    margin-left: 10px;
  }

  ._amount {
    @extend .jigsaw-light;
    font-size: 24px;
  }

  ._currency {
    font-size: 14px;
  }

  ._time {
    display: block;
    font-size: 14px;
    margin-top: -5px;
    color: $grey;
  }

}

.transactions__message {
  padding: 40px;
  color: $grey;
  text-align: center;

  ._icon {
    @include icon(80px, 80px, block);
    margin: 0 auto;
    margin-bottom: 20px;
    .svg-help {
      fill: $grey;
    }
  }

  ._message {
    font-size: 24px;
    line-height: 1.2;
  }

}
