
.overlay--geo {
  @extend .overlay;
  overflow-y: auto;
  background-color: $blue;
}

.overlay__close--geo {
  @extend .overlay__close;
  color: white;
}

.geo__content {
  padding: 20px;
  padding-top: 60px;
}


.geo__searching {
  ._text {
    font-size: 14px;
    text-align: center;
    color: white;
    position: absolute;
    top: 55%;
    max-width: 160px;
    margin: 0 auto;
    left: 0;
    right: 0;

    z-index: 300;
  }
  ._oval {
    @extend .oval;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -49px;
    margin-top: -50px;
    z-index: 100;
    transform: scale(0.1);
  }
}

.geo__pindrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  ._pin {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -35px;
    background-image: url('../img/pin.svg');
    @include icon(70px, 70px, block);
    z-index: 200;
  }
}

.geo__results {


  ._item {
    @include clickbtn;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

    &:first-child {
      padding-top: 0;
    }
  }

  ._avatar {
    width: 70px;
    height: 70px;
    -webkit-mask-image: url(../img/hex.png);
  }

  ._name {
    color: white;
    font-size: 24px;
    padding-top: 18px;
    margin-left: 10px;
  }
}


.geo__noresults {

  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  z-index: 500;

  ._message {
    font-size: 14px;
    text-align: center;
    color: white;
    padding-bottom: 10px;
  }

  ._btn {
    @extend .hivebtn--yellow;
  }
}
