

.flash {
  text-align: center;
  width: 300px;
}

.flash__header {
  @include clickbtn;
  padding-left: 20px;
  padding-right: 20px;
}

.flash__icon {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.flash__title {
  @extend .jigsaw-bold;
  font-size: 24px;
  padding-bottom: 10px;

  &.error {
    color: $red;
  }

  &.info {
    color: $yellow;
  }
}

.flash__message {
  color: #a8a7a9;
  font-size: 18px;
  max-width: 200px;
  margin: 0 auto;
}

