

.search {
  @include breakpoint(portrait) {
    max-width: 400px;
  }
}

.search__btn {
  @extend .hivebtn;

  margin-top: 20px;

  color: darken($yellow, 20%);
  background-color: $yellow;
  box-shadow: 0 3px 0 0 darken($yellow, 20%);

  &.is_searching {
    color: darken(#b9b9bd, 20%);
    background-color: #b9b9bd;
    box-shadow: 0 3px 0 0 darken(#b9b9bd, 20%);

    &:active {
      box-shadow: 0 3px 0 0 darken(#b9b9bd, 20%);
      transform: translate(0px, 0px);
    }
  }
}

.search__status {
  padding-top: 20px;
  text-align: center;
}

.search__list {
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-top: 1px solid #e6e6ec;
}

.search__item {
  @include clickbtn;
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6ec;

  ._avatar {
    width: 60px;
    height: 60px;
  }

  ._name {
    font-size: 24px;
    font-weight: $light;
    padding-left: 20px;
    padding-top: 12px;
  }
}
