
.tooltip {
  position: relative;
  cursor: default;
  padding: 20px;
  padding-top: 40px;
  max-width: 300px;
  background-color: white;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 40px;

  font-size: 18px;
  box-shadow: 0 2px 2px 1px rgba(000,000,000,0.2);
}

.tooltip__cancel {
  @include clickbtn;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 5px;
  z-index: 1000;

  .svg-close {
    fill: $grey;
  }
}

.litecoin {
  .tooltip {
    background-color: darken($silver, 30%);
  }
}

.tooltip__message {
  @extend .jigsaw-regular;
}

.tooltip__link {
  padding-top: 20px;
  a {
    color: $purple--highlight;
    &:hover {
      color: $purple--highlight;
    }
    &:active {
      text-decoration: underline;
    }
  }
}

.litecoin {
  .tooltip__link {
    a {
      color: $silver;
      &:hover {
        color: $silver;
      }
    }
  }
}
