
.tooltip {
  margin-top: 40px;
  padding: 20px;
  max-width: 280px;
  background-color: $purple;
  border-radius: 10px;
  margin: 0 auto;
}

.tooltip__message {
  color: white;
  font-size: 14px;
}


