.disable-pin__container {
  padding: 30px;
}

.disable-pin__pin {
  margin-bottom: 20px;
  ._label {
    @include noselect;
    cursor: pointer;
    display: block;
  }

  ._input {
    @extend .jigsaw-light;
    border: 1px solid $purple--light;
    margin-top: 5px;
    height: 50px;
    padding-left: 10px;
    border-radius: 3px;

    &:active, &:focus {
      outline: 0;
      border: 1px solid $purple;
    }
  }
}

