@document wrap(#profile) {
  .left, .right {
    float: left;
  }

  .left {
    width: 30%;
    padding-right: 1em;
  }

  .right {
    width: 70%;
  }

  .label {
    color: grey;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .panel {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
  }

  .user-image {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
  }
}
