@document wrap(#profile) {
  .amount {
    margin-top: 10px;
  }

  .panel {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
  }

  .user-image {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
  }
}
