
.frame {
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.is_hidden {
  .frame {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
}
