
.frame {
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.is_hidden {
  .frame {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
}


#main {
  position: relative;
  background-color: $background;
  flex: 1; // take up full width

  transition: transform .3s ease;
  transform: translateX(0);
  box-shadow: -5px 0px 15px 0px rgba(25,25,25,0.3);

  &.closed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(85%);
    overflow: hidden;
  }


  .content {
    display: none;
    &.current {
      display: block;
    }
  }
}

.content {
  padding-left: 10px;
  padding-right: 10px;
}
