

#sidebar .tabs .tab {
  text-align: center;
  display: block;
  color: white;
}

#sidebar .tabs .tab.active {
  background-color: #222125;
}

#sidebar .tabs .tab__icon {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}

