

#sidebar .tabs .tab {
  text-align: center;
  display: block;
}

#sidebar .tabs .tab.active {
  background-color: #3e3c43;
}

#sidebar .tabs .tab__icon {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

#sidebar .img-profile {
}

#sidebar .tab:hover .img-profile,
#sidebar .tab.active .img-profile {

}

#sidebar .img-apps {

}

#sidebar .tab:hover .img-apps,
#sidebar .tab.active .img-apps {

}

#sidebar .img-contacts {

}

#sidebar .tab:hover .img-contacts,
#sidebar .tab.active .img-contacts {

}

#sidebar .img-transactions {

}

#sidebar .tab:hover .img-transactions,
#sidebar .tab.active .img-transactions {

}

