@document wrap(#transactions) {
  ul {
    list-style: none;
  }

  ul > li {
    padding: 15px 0;
    border-bottom: 1px solid lightgrey;
  }

  li > * {
    display: inline-block;
    vertical-align: middle;
  }

  .fa.fa-bitcoin {
    font-size: 2em;
    color: lightgrey;
    text-shadow: 1px 1px 1px #333;
    margin-right: 15px;
  }

  .fa.fa-plus-circle {
    color: limegreen;
  }

  .fa.fa-minus-circle {
    color: deepskyblue;
  }

  .timestamp {
    float: right;
    color: gray;
    font-size: small;
    vertical-align: top;
  }

  .pending {
    text-transform: uppercase;
    color: gray;
  }
}
