@document wrap(#landing) {
  * {
    font-size: 1em;
  }

  textarea {
    display: block;
    height: 100px;
    width: 300px;
    padding: 6px 12px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
