
.overlay--confirm {
  @extend .overlay;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.3);
}

.confirm__content {
  margin-top: 80px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 20px;
  background-color: white;
}
