

#receive {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.address__box {
  @extend .generic_box;
  margin-top: 5px;
  margin-bottom: 20px;

  position: relative;

  ._address {
    @include ellipsis();
    @extend .jigsaw-light;
    display: block;
    padding-right: 40px;
  }

  ._btn {
    @extend .hivebtn;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -20px;

    padding: 0;
    padding-top: 7px;
    border-radius: 2px;

    background-image: url('/assets/img/qr.svg');
    @include icon(36px, 36px, block);
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }

}

.geo__label {
  position: relative;

  ._help {
    @include clickbtn;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    text-align: center;
    color: $purple;
    border: 1px solid $purple;
    width: 18px;
    height: 18px;
    border-radius: 9px;
  }

}

.geo__box {
  @extend .generic_box;
  margin-top: 5px;
  text-align: center;

    ._btn {
      @extend .hivebtn;
      margin-bottom: 5px;

      &.is_broadcasting {
        background-color: $yellow;
        box-shadow: 0 3px 0 0 darken($yellow, 10%);
        color: darken($yellow, 20%);

        &:hover {
          color: darken($yellow, 20%);
        }
      }

      &.is_connecting {
        background-color: $grey;
        box-shadow: 0 3px 0 0 darken($grey, 10%);
        color: darken($grey, 20%);

        &:hover {
          color: darken($grey, 20%);
        }
      }
    }

    ._text {
      font-size: 12px;
      line-height: 1.3;
      color: $grey;
    }
}

.modal__container {
  @extend .overlay;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  overflow-y: hidden;
}

#qrcontainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform ease 0.3s;

  &.is_visible {
    transform: translateY(0);
  }

  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;

    border: 5px solid white;
    border-radius: 3px;
  }
}
