.set-details {
  max-width: 500px;

  ._info {
    @extend .jigsaw-light;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $grey;
  }

}

.set-details__field {
  margin-bottom: 20px;
  ._label {
    @include noselect;
    cursor: pointer;
    display: block;
  }

  ._input {
    @extend .jigsaw-light;
    border: 1px solid $purple--light;
    margin-top: 5px;
    height: 50px;
    padding-left: 10px;
    border-radius: 3px;

    &:active, &:focus {
      outline: 0;
      border: 1px solid $purple;
    }
  }
}

