


// Base style globally applied to elements on this project
// ------------------------------------------------------------------------------------ 



body,
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
figure,
hr {
  margin:0;
  padding:0;
  font-weight: $roman;
}

pre {
  overflow: auto;
}

audio, video, summary {
  &:focus {
    @include box-shadow(none);
    @include tabfocus();
  }
}

article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
  display:block;
}


strong,b,mark {
  font-weight: $medium;
  font-style: normal;
}

em,i,cite,q,address,dfn,var {
  font-style: italic;
  font-weight: inherit;
}

abbr[title],dfn[title] {
  cursor:help;
  border-bottom-width: 1px;
  border-bottom-style: dotted; 
}

ins {
  border-bottom-width: 1px;
  border-bottom-style: solid; 
}

a,u,ins {
  text-decoration:none;
}

del,s {
  text-decoration:line-through;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  width: 100%;

  font-size: $base_font_size;
  line-height: $base_line_height;

  font-family: $sans;
  font-weight: $roman; 
  font-style: normal;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  color: $foreground;
  background-color: $background;

  overflow-y: scroll;
}

body {
  width: 100%;
}

img {
  border:none;
  font-style:italic;
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-size: $base_font_size;
}

ul {
  padding-left: 18px;
}

ol {
  padding-left: 20px;
}

a {
  color: lighten($foreground, 10%);

  &:hover {
    color: darken($foreground, 10%);
  }
}











// inputs
// --------------------------------------------------------------------


// add margin to adjacent inputs

input, select {
  & + input {
    margin-top: 15px;
  }

  & + label {
    margin-top: 15px;
  }

  & + select {
    margin-top: 15px;
  }
}


// force checkboxes and radios to sit right underneath each other...

input[type="radio"], input[type="checkbox"] {
  & + input[type="radio"], + input[type="checkbox"] {
    margin-top: 0;
  }
}

label {
  display: block;

  & + label {
    margin-top: 15px;
  }
}

legend {
  font-size: 14px;
  padding-bottom: 15px;
}


// ------ Text Style ------

// use a less jarring highlight colour
mark {
  background-color: $light-yellow;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  font-size: 13px;
  padding: 4px 8px;
  color: $silver;
  background-color: $light-silver;

  &:hover {
    background-color: darken($light-silver, 5%);
    color: darken($silver, 10%);
   }

  &:active, &:focus {
    outline: 2px solid darken($light-silver, 10%);
  }
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  @include box-shadow(none);
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: lighten($foreground, 40%);
  background-color: $background;
  outline: 2px solid lighten($foreground, 50%);
  outline-offset: -2px;
  cursor: default;

  &:hover {
    color: lighten($foreground, 40%);
    background-color: $background;
  }
}


// Sensible Table Styles

.table-wrap {
  overflow-x: scroll;
}

table {
overflow: scroll; /* Scrollbar are always visible */
overflow: auto;   /* Scrollbar is displayed as it's needed */
}

caption {
  border-bottom: 1px solid $silver;
  text-align: left;
}

tbody, tfoot {
  border-top: 1px solid darken($light-silver, 10%);
}

th {
  font-weight: $bold;
  text-align: left;

  padding-right: 10px;

  & + th {
    padding-left: 10px;
  }

  &:last-child {
    padding-right: 0;
  }
}

td {
  padding-right: 10px;

  & + td {
    padding-left: 10px;
  }

  &:last-child {
    padding-right: 0;
  }
}



